.moviescard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 330px;
    background-color: #FDFDFD;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    margin: 0 16px 32px 16px;
}

.moviescard__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 324px;
    height: 18px;
    margin: 18px;
}

.moviescard__title {
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.moviescard__time {
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #A0A0A0;
}

.moviescard__image {
    width: 360px;
    height: 200px;
    margin-bottom: 18px;

}

.moviescard__button {
    background-color: #F9F9F9;
    border-radius: 30px;
    width: 100px;
    height: 29px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    /*display: flex;*/
    /*align-items: center;*/
    text-align: center;
    color: #000000;
}

.moviescard__button_selected {
    background-color: #FF4062;
    background-image: url('../../images/positive.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.moviescard__button_deleted {
    background-image: url('../../images/negative.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.moviescard__button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .moviescard {
        width: 329px;
        height: 315px;
        margin: 0 12px 24px 12px;
    }

    .moviescard__image {
        width: 329px;
        height: 190px;
        margin-bottom: 18px;
    }

    .moviescard__container {
        width: 293px;
        height: 18px;
        margin: 18px;
    }
}

@media screen and (max-width: 340px) {
    .moviescard {
        width: 300px;
        height: 291px;
        margin: 0 5px 16px 5px;
    }

    .moviescard__image {
        width: 300px;
        height: 168px;
        margin-bottom: 18px;
    }

    .moviescard__container {
        width: 273px;
        height: 18px;
        margin: 18px;
    }

    .moviescard__time {
        font-size: 10px;
        line-height: 18px;
    }

    .moviescard__title {
        font-size: 12px;
        line-height: 18px;
    }
}