.movies {
    display: flex;
    flex-direction: column;
    margin: 6px 0 70px 0;
}

.movies__more {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    background-color: #F9F9F9;
    border-radius: 6px;
    border: none;
    height: 36px;
    margin: 0 70px 80px 70px;
}

.movies__more:hover {
    opacity: 0.6;
}

@media screen and (max-width: 860px) {
    .movies__more {
        margin: 0 30px 80px 30px;
    }
}

@media screen and (max-width: 400px) {
    .movies__more {
        margin: 0 10px 80px 10px;
    }
}