.promo {
    min-height: 664px;
    max-height: 710px;
    background-color: #073042;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.promo__container {
    position: relative;
    display: flex;
    justify-content: center;
}

.promo__image {
    width: 320px;
    height: 320px;
}

.promo__title {
    position: absolute;
    font-family: 'Inter', sans-serif;
    top: 32%;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    max-width: 730px;
}

.promo__header {
    display: flex;
    justify-content: space-between;
    min-height: 74px;
    align-items: center;
}

.promo__button-container {
    display: flex;
}

.promo__logo {
    margin: 18px 0 0 60px;
}

.promo__enter {
    margin-right: 70px;
    width: 76px;
    height: 32px;
    background-color: #2BE080;
    border: none;
    border-radius: 3px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.promo__enter:hover {
    opacity: 0.6;
}

.promo__register {
    margin-right: 30px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: #073042;
    border: none;
}

.promo__register:hover {
    opacity: 0.6;
}

@media screen and (max-width: 670px) {
    .promo__logo {
        margin: 0 0 0 14px;
        width: 38px;
        height: 38px;
    }

    .promo__register {
        margin-right: 14px;
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
    }

    .promo__enter {
        margin-right: 14px;
        width: 54px;
        height: 26px;
        font-weight: 500;
        font-size: 10px;
        line-height: 16px;
    }

    .promo__image {
        width: 248px;
        height: 248px;
    }

    .promo__title {
        top: 30%;
        font-size: 31px;
        line-height: 39px;
        text-align: center;
        letter-spacing: -0.04em;
        max-width: 300px;
    }
}