.navtab {
    background-color: #000000;
    min-height: 66px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navtab__button {
    margin-right: 40px;
    background-color: #000000;
    border: none;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #FFFFFF;
    text-align: center;
    padding: 0;
}

.navtab__button:first-child {
    margin-left: 20px;
}

.navtab__button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 670px) {
    .navtab__button {
        margin-right: 24px;
        font-size: 11px;
        line-height: 16px;
        padding: 0;
    }
}